h1{
    text-align: center;
    color: brown;

    
}
form{
    border: dashed;
    text-align: center;
    padding: 8px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    color: indigo;
}
img{
    border-radius: 60%;


}
body{
    text-align: center;
    background-color: aquamarine;

}
button{
    color: black;
    background-color: blue;
cursor: pointer;
}
